@import "variables.css";
@import "navbar.css";
:root {
    --red: #e80d0d;
    --dkred: #972D3B;
    --blue: #1D3EC7;
    --bluegreen: #165F7E;
    --dkbluegreen: #163755;
    --orange: #f98500;
    --green: #2C9A43;
    --yellow: #F9FC38;
    --black: #080807;
    --grey: #EFEFEE;
    --font-one: font-family: 'Roboto', sans-serif;
}
/* *************************/
/* ********************** BODY */
body {
    /* background: #eee2dc; #98A5B3*/
    background: #fcf9f8;
    font-family: var(--font-one);
    font-size: 20px;  
    color: #444444;
    letter-spacing: .02em;
}
.center {
    display: flex;
    justify-content: center;
}
li {
    list-style: none;
    list-style-type: none;
    color: #444444;
}
.sectionHead {
    font-weight: 800;
    text-align: center;
}
.stripe {
    width: 80vw;
    align-content: center;
}
/* **************** 1st VH */
.nav {
    background-color: #f9f5f3;
}
.myNav {
    font-weight: 800;
    font-size: 1.1em;
    padding-top: 35px;
    padding-bottom: 10px;
    color: #444444;
}
.myNav:hover {
    text-decoration: underline;
    color: #444444;
}
.myNavGreen {
    color: forestgreen;
}
.myNavRed {
    color: red;
}
.myNavBlue {
    color: var(--blue);
}
.myNavBg {
    color: darkorange;
}
#envel {
    margin-top: 25px;
}
#newHead {
    /* color: #35393e; */
    color: #444444;
    font-weight: 900;
    font-size: 2.5em;
    text-align: center;
    margin-top: 20px;
}
#phead {
    margin: 10px 60px 20px 60px;
    color: #444444;
    font-weight: 600;
    font-size: 1.3em;
    text-align: center;
    padding: 10px;
    margin-bottom: 30px;
}
/*********************** Skills */
.outline {
    border: 1px lightgrey solid;
}
.skillSet {
    font-size: .85em;
}
.skillsHead {
    text-align: center;
    font-weight: 600;
}
/*********************** Projects */
.cardstyle {
    font-size: .9em;
    width: 99%;
    padding: 0 25px 10px 25px;
}
.bold {
    font-size: 1.1em;
    font-weight: 600;
}
.white {
    background-color: white;
}
.anchor {
    color: #444444;
}
.anchor:hover {
    text-decoration: underline;
    color: #444444;
}
.cardtexty {
    font-size: .9em;
}
#carddecath {
    font-size: .8em;
    padding: 10px 15px 0 10px;
}
/*********************** Employment */
.historyP {
    font-size: .9em;
}
#historyTitle {
    text-align: center;
    font-weight: 600;
}
.td {
    font-size: .9em;
}
.th {
    font-weight: 600;
}

.special {
    padding-bottom: 2px;
}
/*********************** Biography */
.content {
    font-size: 19px;
    padding: 0 20px;
}
#biohead {
    text-align: center;
}
.bioheads {
    font-weight: 600;
}
#decath {
    float: right;
    width: 450px;
}
.floatsy {
    float: right;
}
.floaty {
    float: left;
}
#firstave {
    padding: 10px 0 0 5px;
}
#hop {
    width: 200px;
}
#nine11 {
    padding: 10px 0 0 5px;
    width: 200px;
}
#chef {
    padding: 0 0 25px 0;
    width: 125px;
}
#bar {
    padding: 10px 0 0 5px;
    width: 200px;
}
#extra {
    padding: 0 0 15px 0;
}
/*********************** FOOTER */
label {
    font-weight: 600;
}
input {
    width: 150%;
}
textarea {
    width: 225%;
}
.footer {
    text-align: center;
}
#colorme {
    color: #444444;
    font-weight: 600;
}
.padit {
    padding-left: 50px;
}